
@font-face {
  font-family: 'Gotham SSm';
  src: url('../public/fonts/gotham-ssm/gotham-ssm-book.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham SSm';
  src: url('../public/fonts/gotham-ssm/gotham-ssm-medium.otf');
  font-weight: 500;
  font-style: normal;
}

