@import '../../styles/constants.scss';

.longInput {
  width: 100% !important;

  .long {
    width: 100% !important;
  }
}

.input {
  max-width: 100%;

  .label {
    display: block;
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
  }

  .error {
    color: var(--error-text-color) !important;
  }

  .centerText {
    text-align: center;
    font-size: 26px !important;
    @media screen and (max-width: $small-screen) {
      font-size: 20px !important;
    }
  }

  .inputField {
    display: block;
    font-size: 18px;
    width: 307px;
    height: 53px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(36, 36, 36); 
  }
  .inputField:focus {
    border: 1px solid var(--text-color);
  }
  .inputField::placeholder {
    opacity: 0.2;
  }
  .inputField[disabled] {
    opacity: 0.75;
  }
  
  input[type="password"] {
    letter-spacing: 5px;
  }

  @media screen and (max-width: $small-screen) {
    .label {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .inputField {
      width: 284px;
      height: 44px;
      font-size: 15px;
    }
  }
}


.horizontalInput {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  
  .label {
    width: 39%;
    color: var(--text-color);
    margin-bottom: 0;
    font-size: 13px;
  }

  .inputField {
    width: 60%;
    height: 37px;
    font-size: 12px;
    padding-left: 13px;
    padding-right: 13px;
    border: none;
  }
}
