@import '../styles/constants.scss';

.searchContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
  max-width: 100%;
  
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

.link {
  text-decoration: none;
  color: var(--text-color);
}
.inputField, .selectField, .searchButton {
  width: 250px;
  max-width: 300px;
  border-radius: 4px;
  outline: none;
}

.inputField:focus, .selectField:focus, .searchButton:focus {
  outline: none; 
  border-color: #ccc; 
}

